body{
    background-color: rgb(241, 236, 230);
}

#par1{
    color: blue;
    background-color: rgb(186, 241, 236);
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
}

#par2{
    color: whitesmoke;
    font-size: 23px;
    background-color: rgb(125, 71, 179);
    text-align: end;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 10px;
    
}

#par3{
    background-color: rgb(202, 202, 84);
    color: blue;
    text-decoration-line: underline;
    text-align: justify;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 9px;
    lighting-color: rgb(240, 243, 243);
    letter-spacing: 3px;
    
}

#spa{
    color: brown;
}

.myparagraph{
    font-size: 24px;
    color: blueviolet;
    background-color: rgb(186, 186, 231);
    padding: 12px;
}

.division{
    color: aquamarine;
    background-color: rgb(134, 94, 94);
    font-size: 20px;
    padding: 15px;
    
}